Nitro*Downloader*/.vs/
Nitro*Downloader*/bin/
Nitro*Downloader*/obj/

Nitro*Downloader*/.vs/*/
Nitro*Downloader*/bin/*/
Nitro*Downloader*/obj/*/

NitroDownloaderPackage/bin/
NitroDownloaderPackage/obj/
NitroDownloaderPackage/AppPackages

